"""
AIGIS configuration for mad-bot
"""
PLUGIN_TYPE = "internal-local"
ENTRYPOINT = "{root}"
LAUNCH = "{root}/main.py"

SYSTEM_REQUIREMENTS = ["pip3.7", "ffmpeg", "ffprobe"]

REQUIREMENT_COMMAND = "pip3.7 install -r"
REQUIREMENT_FILE = "{root}/requirements.txt"

SECRETS = {
    "discordKey.secret": "{root}/src/db/",
    "ip.config": "{root}/src/db/",
    "tenor.secret": "{root}/src/db/"
}
